name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15-intel

    strategy:
      fail-fast: false
      matrix:
        spotlight: [on, off]

    steps:
      - uses: actions/checkout@v5.0.0
        with:
          repository: 'pzhlkj6612/forked-create-dmg'
          ref: '82d8f40ea1a73e89b34a832bb582f39e519b290c'

      - name: Spotlight ${{ matrix.spotlight }}
        run: |
          set -ex

          mdutil -s -a

          sudo mdutil -i '${{ matrix.spotlight }}' -a

          mdutil -s -a

      - name: package
        run: |
          set -ex

          for i in $(seq 0 99); do
            echo "========== $i =========="
            ps -ef | grep 'mds'
            mdutil -s -a

            dmg_path="$(mktemp -u).dmg"
            bash ./create-dmg \
              --hdiutil-verbose \
              --volname "$(basename $(mktemp -u))" \
              --window-size 500 352 \
              --icon-size 100 \
              --app-drop-link 370 162 \
              "$dmg_path" \
              '/Applications/Firefox.app'
            rm $dmg_path
          done
