name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15-intel

    steps:
      - name: Run a multi-line script
        run: |
          set -ex

          mdutil -s -a

          sudo mdutil -i off /

          mdutil -s -a
