name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15-intel

    strategy:
      fail-fast: false
      matrix:
        spotlight: [on, off]

    steps:
      - uses: actions/checkout@v5.0.0
        with:
          repository: 'pzhlkj6612/forked-create-dmg'
          ref: 'a48a1f18fde59fbb60e67db824b15a41aea5ef01'

      - name: Spotlight ${{ matrix.spotlight }}
        run: |
          set -ex

          mdutil -s -a

          # for "on", you may encounter:
          #   /:
          #   Error: unable to perform operation.  (-1)
          #     Error: unknown indexing state.
          #   /System/Volumes/Data:
          #   Error: invalid operation.
          #     Error: unknown indexing state.
          #   /System/Volumes/Preboot:
          #   Error: invalid operation.
          #     Error: unknown indexing state.
          sudo mdutil -i '${{ matrix.spotlight }}' -a

          mdutil -s -a

      - name: package
        run: |
          set -ex

          # 100-time loop needs 1h43m
          for i in $(seq 0 39); do
            echo "========== $i =========="

            ps -ef | grep 'mds'
            mdutil -s -a

            echo '=== no ==='

            dmg_path="$(mktemp -u).dmg"
            bash ./create-dmg \
              --volname "$(basename $(mktemp -u))" \
              --window-size 500 352 \
              --icon-size 100 \
              --app-drop-link 370 162 \
              "$dmg_path" \
              '/Applications/Firefox.app'
            rm $dmg_path

            echo '=== quiet ==='

            dmg_path="$(mktemp -u).dmg"
            bash ./create-dmg \
              --hdiutil-quiet \
              --volname "$(basename $(mktemp -u))" \
              --window-size 500 352 \
              --icon-size 100 \
              --app-drop-link 370 162 \
              "$dmg_path" \
              '/Applications/Firefox.app'
            rm $dmg_path

            echo '=== verbose ==='

            dmg_path="$(mktemp -u).dmg"
            bash ./create-dmg \
              --hdiutil-verbose \
              --volname "$(basename $(mktemp -u))" \
              --window-size 500 352 \
              --icon-size 100 \
              --app-drop-link 370 162 \
              "$dmg_path" \
              '/Applications/Firefox.app'
            rm $dmg_path

            echo "========== $i =========="
          done
